.navbar{
    position: fixed;
    top:0;
    display: flex;
    gap: 10;
    justify-content: start;
}

.navbar-links{
    display: flex;
}

.footer{
    position: fixed;
    bottom: 0;
}

li{
    width: 100px;
}